/*
Author: Tabitha Sailor
Date:3/22/2022
File Name: style.css
*/


body, header, nav, main, footer, h1, div, img, ul,h4{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: rgb(252, 251, 251);
}

body img {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}

header{
    background-color: #FFF;
    height: 190pcx;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header img{
    margin: 0 auto;
}


nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    font-size: 1.75em;
    font-family: 'Send Flowers', cursive;
    border-top: 1px solid  rgb(255,36,36);
}

nav li a{
    display: block;
    color: rgb(255,36,36);
    padding: 0.5em 1em;
    text-decoration: none;
}

p { color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; }

img {
   max-width: 100%;
   display: block;
}



main{
    clear: left;
    background-color: #FFF;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}


.tel-link a{
    color: rgb(225,36,36);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

footer p{
    font-size: 01.75em;
    text-align: center;
    color: rgb(225,36,36);
    padding: 0.1em;
}

footer p a{
    color: rgb(225,36,36);
    text-decoration: none;
}

#contact{
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.map{
    border:8px solid #000;
}